openapi: 3.0.3
info:
  title: Novita Public API
  version: 1.0.0
  description: OpenAPI spec for Novita Public API
servers:
- url: https://api.novita.ai/gpu-instance/openapi/v1
  description: Production server
security:
- BearerAuth: []
paths:
  /clusters:
    get:
      summary: List clusters/regions
      operationId: list_clusters
      tags:
      - Cluster
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Cluster'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /gpu/instances:
    get:
      summary: List all GPU instances
      operationId: list_instances
      tags:
      - Instances
      parameters:
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
        description: Maximum number of items returned per page
      - name: pageNum
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
        description: Page number to retrieve
      - name: name
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 255
        description: Fuzzy search by instance name
      - name: productName
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 255
        description: Fuzzy search by product name
      - name: status
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 63
          enum:
          - toCreate
          - creating
          - pulling
          - running
          - toStart
          - starting
          - toStop
          - stopping
          - exited
          - toRestart
          - restarting
          - toRemove
          - removing
          - removed
          - toReset
          - resetting
          - migrating
          - freezing
        description: Filter by instance status
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInstancesResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /gpu/instance:
    get:
      summary: Get GPU instance details
      operationId: get_instance
      tags:
      - Instances
      parameters:
      - name: instanceId
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceInfo'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /gpu/instance/create:
    post:
      summary: Create a new GPU instance
      operationId: create_instance
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInstanceRequest'
      responses:
        '200':
          description: Instance created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInstanceResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /gpu/instance/edit:
    post:
      summary: Edit GPU instance
      operationId: edit_instance
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditInstanceRequest'
      responses:
        '200':
          description: Instance updated successfully
          content:
            application/json:
              schema:
                type: object
                description: Empty response on success.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /gpu/instance/start:
    post:
      summary: Start GPU instance
      operationId: start_instance
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - instanceId
              properties:
                instanceId:
                  type: string
      responses:
        '200':
          description: Instance start initiated
          content:
            application/json:
              schema:
                type: object
                description: Empty response on success.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /gpu/instance/stop:
    post:
      summary: Stop GPU instance
      operationId: stop_instance
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - instanceId
              properties:
                instanceId:
                  type: string
      responses:
        '200':
          description: Instance stop initiated
          content:
            application/json:
              schema:
                type: object
                description: Empty response on success.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /gpu/instance/delete:
    post:
      summary: Delete GPU instance
      operationId: delete_instance
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - instanceId
              properties:
                instanceId:
                  type: string
      responses:
        '200':
          description: Instance deletion initiated
          content:
            application/json:
              schema:
                type: object
                description: Empty response on success.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /gpu/instance/restart:
    post:
      summary: Restart GPU instance
      operationId: restart_instance
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - instanceId
              properties:
                instanceId:
                  type: string
      responses:
        '200':
          description: Instance restart initiated
          content:
            application/json:
              schema:
                type: object
                description: Empty response on success.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /gpu/instance/upgrade:
    post:
      summary: Upgrade GPU instance
      operationId: upgrade_instance
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpgradeInstanceRequest'
      responses:
        '200':
          description: Instance upgrade initiated
          content:
            application/json:
              schema:
                type: object
                description: Empty response on success.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /gpu/instance/migrate:
    post:
      summary: Migrate GPU instance
      operationId: migrate_instance
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - instanceId
              properties:
                instanceId:
                  type: string
      responses:
        '200':
          description: Instance migration initiated
          content:
            application/json:
              schema:
                type: object
                description: Empty response on success.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /gpu/instance/renewInstance:
    post:
      summary: Renew subscription instance
      operationId: renew_instance
      tags:
        - Instances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - instanceId
                - month
              properties:
                instanceId:
                  type: string
                  description: The ID of the subscription instance to be renewed
                month:
                  type: integer
                  description: Renewal duration in months
      responses:
        '200':
          description: Instance renewal initiated
          content:
            application/json:
              schema:
                type: object
                description: Empty response on success.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /gpu/instance/transToMonthlyInstance:
    post:
      summary: Convert pay-as-you-go instance to subscription
      operationId: convert_to_monthly_instance
      tags:
        - Instances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - instanceId
                - month
              properties:
                instanceId:
                  type: string
                  description: The pay-as-you-go instance identifier to convert to subscription format
                month:
                  type: integer
                  description: Subscription duration after conversion (months)
      responses:
        '200':
          description: Instance conversion initiated
          content:
            application/json:
              schema:
                type: object
                description: Empty response on success.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /jobs:
    get:
      summary: List jobs
      operationId: list_jobs
      tags:
        - Jobs
      parameters:
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
        description: Items per page
      - name: pageNum
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
        description: Page number to retrieve
      - name: jobId
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 255
        description: Filter by job identifier
      - name: state
        in: query
        required: false
        schema:
          type: string
          enum:
          - pulling
          - running
          - fail
          - success
          - break
        description: Filter by status
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - saveImage
          - instanceMigrate
          - autoInstanceMigrate
        description: Filter by category
      - name: startTime
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Time range start (Unix seconds)
      - name: endTime
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
        description: Time range end (Unix seconds)
      - name: creators
        in: query
        required: false
        schema:
          type: string
        description: Filter by initiating user ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListJobsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /job/break:
    post:
      summary: Break (cancel) job
      operationId: break_job
      tags:
      - Jobs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jobId
              properties:
                jobId:
                  type: string
                  description: The job ID to be interrupted
                  minLength: 0
                  maxLength: 255
      responses:
        '200':
          description: Job cancelled successfully
          content:
            application/json:
              schema:
                type: object
                required:
                - jobId
                properties:
                  jobId:
                    type: string
                    description: Identifier for the interrupted job
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /job/save/image:
    post:
      summary: Save instance image
      operationId: save_instance_image
      tags:
        - Jobs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveImageRequest'
      responses:
        '200':
          description: Image save initiated
          content:
            application/json:
              schema:
                type: object
                required:
                - jobId
                properties:
                  jobId:
                    type: string
                    description: A unique identifier for the image save operation
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /endpoint/limit:
    get:
      summary: Get endpoint parameter limit ranges
      operationId: get_endpoint_limits
      tags:
      - Endpoints
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                - minRootfsSize
                - maxRootfsSize
                - freeRootfsSize
                - minLocalVolumeSize
                - maxLocalVolumeSize
                - freeLocalVolumeSize
                - minWorkerNum
                - maxWorkerNum
                - minFreeTimeout
                - maxFreeTimeout
                - minConcurrencyNum
                - maxConcurrencyNum
                - minQueueWaitTime
                - maxQueueWaitTime
                - minRequestNum
                - maxRequestNum
                - minGPUNum
                - maxGPUNum
                - cudaVersionList
                properties:
                  minRootfsSize:
                    type: integer
                    description: Minimum root filesystem size in GB
                  maxRootfsSize:
                    type: integer
                    description: Maximum root filesystem size in GB
                  freeRootfsSize:
                    type: integer
                    description: Free root filesystem size in GB
                  minLocalVolumeSize:
                    type: integer
                    description: Minimum local volume size in GB
                  maxLocalVolumeSize:
                    type: integer
                    description: Maximum local volume size in GB
                  freeLocalVolumeSize:
                    type: integer
                    description: Free local volume size in GB
                  minWorkerNum:
                    type: integer
                    description: Minimum number of worker nodes
                  maxWorkerNum:
                    type: integer
                    description: Maximum number of worker nodes
                  minFreeTimeout:
                    type: integer
                    description: Minimum free timeout in seconds
                  maxFreeTimeout:
                    type: integer
                    description: Maximum free timeout in seconds
                  minConcurrencyNum:
                    type: integer
                    description: Minimum concurrency number
                  maxConcurrencyNum:
                    type: integer
                    description: Maximum concurrency number
                  minQueueWaitTime:
                    type: integer
                    description: Minimum queue wait time in seconds
                  maxQueueWaitTime:
                    type: integer
                    description: Maximum queue wait time in seconds
                  minRequestNum:
                    type: integer
                    description: Minimum request number
                  maxRequestNum:
                    type: integer
                    description: Maximum request number
                  minGPUNum:
                    type: integer
                    description: Minimum GPU number
                  maxGPUNum:
                    type: integer
                    description: Maximum GPU number
                  cudaVersionList:
                    type: array
                    items:
                      type: string
                    description: List of supported CUDA versions
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /endpoint/create:
    post:
      summary: Create serverless endpoint
      operationId: create_endpoint
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEndpointRequest'
      responses:
        '200':
          description: Endpoint created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The newly created Endpoint identifier
                    nullable: true
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /endpoints:
    get:
      summary: List serverless endpoints
      operationId: list_endpoints
      tags:
      - Endpoints
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEndpointsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          default: 10
        description: Maximum number of items returned per page
      - name: pageNum
        in: query
        required: false
        schema:
          type: integer
          default: 0
        description: Current page number (0-indexed)
  /endpoint:
    get:
      summary: Get single serverless endpoint
      operationId: get_endpoint
      tags:
      - Endpoints
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        description: Endpoint ID
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointDetail'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /endpoint/update:
    post:
      summary: Update serverless endpoint
      operationId: update_endpoint
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - id
                  properties:
                    id:
                      type: string
                      description: Identifier for the endpoint being modified
                - $ref: '#/components/schemas/UpdateEndpointRequest'
      responses:
        '200':
          description: Endpoint updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointDetail'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /endpoint/delete:
    post:
      summary: Delete serverless endpoint
      operationId: delete_endpoint
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: The identifier of the endpoint to remove
      responses:
        '200':
          description: Endpoint deleted successfully
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /image/prewarm/quota:
    get:
      summary: Get image prewarm quota
      operationId: get_image_prewarm_quota
      tags:
      - Image
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                - total
                - limit
                - perImageSize
                properties:
                  total:
                    type: integer
                    description: Number of existing prewarm tasks.
                  limit:
                    type: integer
                    description: Maximum number of prewarm tasks that can be created.
                  perImageSize:
                    type: integer
                    description: Maximum image size per prewarm task (GB).
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /image/prewarm:
    post:
      summary: Create image prewarm task
      operationId: create_image_prewarm
      tags:
        - Image
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateImagePrewarmRequest'
      responses:
        '200':
          description: Prewarm task created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateImagePrewarmResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    get:
      summary: List image prewarm tasks
      operationId: list_image_prewarm_tasks
      tags:
        - Image
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: Page number.
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: Page size.
        - name: state
          in: query
          required: false
          schema:
            type: string
            enum:
              - Pending
              - Running
              - Succeeded
              - Failed
          description: Prewarm task state filter.
        - name: clusterId
          in: query
          required: false
          schema:
            type: string
          description: Cluster ID filter.
        - name: name
          in: query
          required: false
          schema:
            type: string
          description: Image name or task note for fuzzy matching.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListImagePrewarmTasksResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /image/prewarm/edit:
    post:
      summary: Update image prewarm task
      operationId: update_image_prewarm
      tags:
        - Image
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateImagePrewarmRequest'
      responses:
        '200':
          description: Prewarm task updated successfully
          content:
            application/json:
              schema:
                type: object
                description: Empty response on success.
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /image/prewarm/delete:
    post:
      summary: Delete image prewarm tasks
      operationId: delete_image_prewarm
      tags:
      - Image
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteImagePrewarmRequest'
      responses:
        '200':
          description: Prewarm tasks deleted successfully
          content:
            application/json:
              schema:
                type: object
                description: Empty response on success.
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /repository/auths:
    get:
      summary: List container registry auths
      operationId: list_repository_auths
      tags:
        - Image Registry
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRepositoryAuthsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /repository/auth/save:
    post:
      summary: Create container registry auth
      operationId: create_repository_auth
      tags:
        - Image Registry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRepositoryAuthRequest'
      responses:
        '204':
          description: Registry auth created successfully
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /repository/auth/delete:
    post:
      summary: Delete container registry auth
      operationId: delete_repository_auth
      tags:
        - Image Registry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRepositoryAuthRequest'
      responses:
        '200':
          description: Registry auth deleted successfully
          content:
            application/json:
              schema:
                type: object
                required:
                - instance_id
                - success
                properties:
                  instance_id:
                    type: string
                    description: Instance ID
                  success:
                    type: boolean
                    description: Whether the action succeeded
                  message:
                    type: string
                    description: Optional message
                    nullable: true
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /networks:
    get:
      summary: List VPC networks
      operationId: list_networks
      tags:
        - Network
      parameters:
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
        description: Number of items per page
      - name: pageNum
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
        description: Page number to retrieve
      - name: name
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 255
        description: Custom network name (supports fuzzy search)
      - name: creators
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 255
        description: Creator user ID for filtering
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNetworksResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /network:
    get:
      summary: Get VPC network details
      operationId: get_network
      tags:
      - Network
      parameters:
      - name: networkId
        in: query
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 255
        description: VPC network identifier
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                - network
                properties:
                  network:
                    type: array
                    items:
                      $ref: '#/components/schemas/Network'
                    description: VPC network information
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /network/create:
    post:
      summary: Create VPC network
      operationId: create_network
      tags:
        - Network
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNetworkRequest'
      responses:
        '200':
          description: VPC network created successfully
          content:
            application/json:
              schema:
                type: object
                required:
                - network
                properties:
                  network:
                    type: array
                    items:
                      $ref: '#/components/schemas/Network'
                    description: Created VPC network details
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /network/update:
    post:
      summary: Update VPC network
      operationId: update_network
      tags:
        - Network
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNetworkRequest'
      responses:
        '200':
          description: VPC network updated successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /network/delete:
    post:
      summary: Delete VPC network
      operationId: delete_network
      tags:
        - Network
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteNetworkRequest'
      responses:
        '200':
          description: VPC network deleted successfully
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /networkstorages/list:
    get:
      summary: List network storage volumes
      operationId: list_network_storages
      tags:
        - Network Storage
      parameters:
      - name: pageNo
        in: query
        required: false
        schema:
          type: integer
        description: Page number for pagination
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
        description: Number of records per page
      - name: storageName
        in: query
        required: false
        schema:
          type: string
        description: Filter by storage name
      - name: storageId
        in: query
        required: false
        schema:
          type: string
        description: Filter by storage identifier
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNetworkStoragesResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /networkstorage/create:
    post:
      summary: Create network storage
      operationId: create_network_storage
      tags:
        - Network Storage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNetworkStorageRequest'
      responses:
        '200':
          description: Network storage created successfully
          content:
            application/json:
              schema:
                type: string
                description: Created resource identifier or status confirmation
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /networkstorage/update:
    post:
      summary: Update network storage
      operationId: update_network_storage
      tags:
        - Network Storage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNetworkStorageRequest'
      responses:
        '200':
          description: Network storage updated successfully
          content:
            application/json:
              schema:
                type: object
                description: Empty response object upon successful update
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /networkstorage/delete:
    post:
      summary: Delete network storage
      operationId: delete_network_storage
      tags:
        - Network Storage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteNetworkStorageRequest'
      responses:
        '200':
          description: Network storage deleted successfully
          content:
            application/json:
              schema:
                type: object
                description: Empty response object upon successful deletion
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /templates:
    get:
      summary: List templates
      operationId: list_templates
      tags:
        - Template
      parameters:
        - name: pageSize
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: Maximum number of entries returned on one page.
        - name: pageNum
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: Current page index.
        - name: name
          in: query
          required: false
          schema:
            type: string
          description: Filter the templates by name.
        - name: type
          in: query
          required: false
          schema:
            type: string
          description: Filter the templates by type.
        - name: channel
          in: query
          required: false
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
          description: Filter the templates by channel.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTemplatesResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /template:
    get:
      summary: Get template details
      operationId: get_template
      tags:
      - Template
      parameters:
      - name: templateId
        in: query
        required: false
        schema:
          type: string
        description: ID of the template being queried.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTemplateResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /template/create:
    post:
      summary: Create template
      operationId: create_template
      tags:
        - Template
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateRequest'
      responses:
        '200':
          description: Template created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTemplateResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /template/delete:
    post:
      summary: Delete template
      operationId: delete_template
      tags:
        - Template
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteTemplateRequest'
      responses:
        '200':
          description: Template deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteTemplateResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /metrics/gpu/instance:
    get:
      summary: Fetch instance monitor metrics
      operationId: get_instance_metrics
      tags:
      - Metrics
      parameters:
      - name: instance_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /products:
    get:
      summary: List GPU instance products
      operationId: list_gpu_products
      tags:
      - Products
      parameters:
      - name: clusterId
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 255
        description: Filter by cluster
      - name: gpuNum
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 8
        description: Filter by GPU count
      - name: productName
        in: query
        required: false
        schema:
          type: string
        description: Fuzzy matching on product names
      - name: minCpuPerGpu
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
        description: CPU core threshold
      - name: minMemoryPerGpu
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
        description: Memory threshold in GB
      - name: minRootFSSize
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
        description: Root filesystem threshold in GB
      - name: billingMethod
        in: query
        required: false
        schema:
          type: string
          enum:
          - onDemand
          - monthly
          - spot
        description: Filter by billing method
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGPUProductsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /cpu/products:
    get:
      summary: List CPU instance products
      operationId: list_cpu_products
      tags:
      - Products
      parameters:
      - name: clusterId
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 255
        description: Filter by cluster identifier
      - name: productName
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 255
        description: Fuzzy match filtering by product name
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCPUProductsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Cluster:
      type: object
      required:
      - id
      - name
      - availableGpuType
      - supportNetworkStorage
      - supportInstanceNetwork
      properties:
        id:
          type: string
          description: Cluster ID
        name:
          type: string
          description: Cluster name
        availableGpuType:
          type: array
          items:
            type: string
          description: Supported GPU types in the cluster
        supportNetworkStorage:
          type: boolean
          description: Whether cloud storage creation is supported
        supportInstanceNetwork:
          type: boolean
          description: Whether VPC network creation is supported
    CreateInstanceRequest:
      type: object
      required:
      - productId
      - gpuNum
      - rootfsSize
      - imageUrl
      - kind
      properties:
        name:
          type: string
          description: Name for the instance
          minLength: 0
          maxLength: 255
        productId:
          type: string
          description: GPU product identifier
          minLength: 1
          maxLength: 255
        gpuNum:
          type: integer
          description: Number of GPUs
          minimum: 1
          maximum: 8
        rootfsSize:
          type: integer
          description: Root filesystem size in GB
          minimum: 10
          maximum: 6144
        imageUrl:
          type: string
          description: Container image URL
          minLength: 1
          maxLength: 500
        kind:
          type: string
          description: Instance type
          enum:
          - gpu
          - cpu
        imageAuth:
          type: string
          description: Registry credentials
          nullable: true
        imageAuthId:
          type: string
          description: Authentication reference ID
          nullable: true
        ports:
          type: string
          description: Exposed ports with protocols
          nullable: true
        envs:
          type: array
          description: Environment variables
          maxItems: 100
          items:
            type: object
            required:
            - key
            - value
            properties:
              key:
                type: string
              value:
                type: string
        tools:
          type: array
          description: Tool configuration (e.g., Jupyter)
          items:
            type: object
            properties:
              name:
                type: string
              port:
                type: string
              type:
                type: string
        command:
          type: string
          description: Startup command
          minLength: 0
          maxLength: 2047
          nullable: true
        clusterId:
          type: string
          description: Cluster placement specification
          nullable: true
        networkStorages:
          type: array
          description: Cloud storage mounts
          maxItems: 30
          items:
            type: object
            properties:
              Id:
                type: string
              mountPoint:
                type: string
        networkId:
          type: string
          description: VPC network reference
          nullable: true
        month:
          type: integer
          description: Subscription duration in months
          nullable: true
        billingMode:
          type: string
          description: Billing mode
          enum:
          - onDemand
          - monthly
          - spot
          nullable: true
    UpgradeInstanceRequest:
      type: object
      required:
      - instanceId
      - imageUrl
      - envs
      - command
      - save
      - networkVolume
      properties:
        instanceId:
          type: string
          description: Identifier for the instance being upgraded
        imageUrl:
          type: string
          description: Container image location
          minLength: 1
          maxLength: 500
        imageAuthId:
          type: string
          description: Registry authentication credential
          nullable: true
        envs:
          type: array
          description: Environment variable pairs
          maxItems: 100
          items:
            type: object
            required:
            - key
            - value
            properties:
              key:
                type: string
              value:
                type: string
        command:
          type: string
          description: Container startup instruction
          minLength: 0
          maxLength: 2047
        save:
          type: boolean
          description: Whether to retain data from the previous instance
        networkVolume:
          type: object
          description: Cloud storage configuration
          required:
          - volumeMounts
          properties:
            volumeMounts:
              type: array
              description: Cloud storage mounts (max 30, use empty array to remove
                all)
              maxItems: 30
              items:
                type: object
                required:
                - type
                - id
                - mountPath
                properties:
                  type:
                    type: string
                    description: Must be "network"
                    enum:
                    - network
                  id:
                    type: string
                    description: Storage identifier
                  mountPath:
                    type: string
                    description: Attachment location
                    minLength: 1
                    maxLength: 4095
                    default: /network
    EditInstanceRequest:
      type: object
      required:
      - instanceId
      properties:
        instanceId:
          type: string
          description: ID of the instance to edit.
        ports:
          type: array
          description: Ports to expose (ports + tools must not exceed 15).
          maxItems: 15
          items:
            type: object
            required:
            - port
            - type
            properties:
              port:
                type: integer
                description: Port number (1-65535, excluding 2222/2223/2224).
                minimum: 1
                maximum: 65535
              type:
                type: string
                description: Protocol type.
                enum:
                - tcp
                - http
        expandRootDisk:
          type: integer
          description: Size to expand the root disk (GB). Set to 0 if no expansion is needed.
          minimum: 0
    CreateInstanceResponse:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: Created instance ID.
    InstanceInfo:
      type: object
      required:
      - id
      - name
      - clusterId
      - status
      - imageUrl
      - cpuNum
      - memory
      - gpuNum
      - productId
      - productName
      - rootfsSize
      - billingMode
      properties:
        id:
          type: string
          description: Instance ID.
        name:
          type: string
          description: Instance name.
        clusterId:
          type: string
          description: Cluster ID.
        clusterName:
          type: string
          description: Cluster name.
          nullable: true
        status:
          type: string
          description: Instance status.
          enum:
          - toCreate
          - creating
          - pulling
          - running
          - toStart
          - starting
          - toStop
          - stopping
          - exited
          - toRestart
          - restarting
          - toRemove
          - removing
          - removed
          - toReset
          - resetting
          - migrating
          - freezing
        imageUrl:
          type: string
          description: Container image URL.
        imageAuthId:
          type: string
          description: Image registry authentication information.
          nullable: true
        command:
          type: string
          description: Container startup command.
          nullable: true
        cpuNum:
          type: string
          description: Number of CPU cores.
        memory:
          type: string
          description: Memory size (GB).
        gpuNum:
          type: string
          description: Number of GPUs.
        portMappings:
          type: array
          description: Instance port information.
          nullable: true
          items:
            type: object
            properties:
              port:
                type: integer
                description: Port number.
                nullable: true
              endpoint:
                type: string
                description: Port endpoint URL.
                nullable: true
              type:
                type: string
                description: Protocol type.
                nullable: true
        productId:
          type: string
          description: Product ID used to deploy the instance.
        productName:
          type: string
          description: Product name used to deploy the instance.
        rootfsSize:
          type: integer
          description: Root filesystem size (GB).
        volumeMounts:
          type: array
          description: Instance storage configuration.
          nullable: true
          items:
            type: object
            properties:
              type:
                type: string
                description: Storage type.
                enum:
                - network
                - local
                nullable: true
              size:
                type: string
                description: Storage capacity.
                nullable: true
              id:
                type: string
                description: Cloud storage ID (present when type=network).
                nullable: true
              mountPath:
                type: string
                description: Storage mount path.
                nullable: true
        statusError:
          type: object
          description: Error information when the instance fails.
          nullable: true
          properties:
            state:
              type: string
              description: Abnormal instance status.
              nullable: true
            message:
              type: string
              description: Error message.
              nullable: true
        envs:
          type: array
          description: Instance environment variable information.
          nullable: true
          items:
            type: object
            properties:
              key:
                type: string
                description: Environment variable name.
                nullable: true
              value:
                type: string
                description: Environment variable value.
                nullable: true
        kind:
          type: string
          description: Instance type.
          nullable: true
        billingMode:
          type: string
          description: Billing mode for the instance.
          enum:
          - onDemand
          - monthly
          - spot
        endTime:
          type: string
          description: Expiration time for subscription instances (pay-as-you-go returns -1).
          nullable: true
        spotStatus:
          type: string
          description: Spot instance status.
          enum:
          - running
          - notified
          - reclaiming
          - terminated
          nullable: true
        spotReclaimTime:
          type: string
          description: Spot instance reclaim time ("0" when reclaim has not started).
          nullable: true
        network:
          type: object
          description: VPC network information.
          nullable: true
          properties:
            id:
              type: string
              description: Network ID.
              nullable: true
            ip:
              type: string
              description: Instance IP in the VPC network.
              nullable: true
        connectComponentSSH:
          type: object
          description: SSH connection credentials and command.
          nullable: true
          properties:
            user:
              type: string
              nullable: true
            password:
              type: string
              nullable: true
            command:
              type: string
              nullable: true
        connectComponentWebTerminal:
          type: object
          description: Web-based terminal access details.
          nullable: true
          properties:
            url:
              type: string
              nullable: true
        connectComponentJupyter:
          type: object
          description: Jupyter connection information.
          nullable: true
          properties:
            url:
              type: string
              nullable: true
            token:
              type: string
              nullable: true
        connectComponentLog:
          type: object
          description: Log streaming addresses.
          nullable: true
          properties:
            url:
              type: string
              nullable: true
        node:
          type: object
          description: Node metadata.
          nullable: true
          properties:
            maxRootfsSize:
              type: integer
              description: Maximum root filesystem size.
              nullable: true
        freeStorageSize:
          type: integer
          description: Available system disk space in GB.
          nullable: true
        keepDataDay:
          type: integer
          description: Data retention duration post-shutdown.
          nullable: true
        jobs:
          type: array
          description: Tasks currently running on the instance.
          nullable: true
          items:
            type: object
            properties:
              id:
                type: string
                description: Job ID.
                nullable: true
              type:
                type: string
                description: Job type.
                nullable: true
    ListInstancesResponse:
      type: object
      required:
      - instances
      - total
      properties:
        instances:
          type: array
          items:
            $ref: '#/components/schemas/InstanceInfo'
        total:
          type: integer
          description: Total number of instances
    SubscriptionPrice:
      type: object
      required:
      - price
      - month
      properties:
        price:
          type: integer
          description: Unit price for the subscription instance
        month:
          type: integer
          description: Subscription duration, in months
    GPUProduct:
      type: object
      required:
      - id
      - name
      - cpuPerGpu
      - memoryPerGpu
      - diskPerGpu
      - availableDeploy
      - minRootFS
      - maxRootFS
      - minLocalStorage
      - maxLocalStorage
      - regions
      - price
      - monthlyPrice
      - billingMethods
      properties:
        id:
          type: string
          description: Product ID
        name:
          type: string
          description: Product name
        cpuPerGpu:
          type: integer
          description: Number of CPU cores per GPU
        memoryPerGpu:
          type: integer
          description: Memory size per GPU (GB)
        diskPerGpu:
          type: integer
          description: Disk size per GPU (GB)
        availableDeploy:
          type: boolean
          description: Whether this product can be used to create an instance
        minRootFS:
          type: integer
          description: Minimum available root filesystem size (GB)
        maxRootFS:
          type: integer
          description: Maximum available root filesystem size (GB)
        minLocalStorage:
          type: integer
          description: Minimum available local storage size (GB)
        maxLocalStorage:
          type: integer
          description: Maximum available local storage size (GB)
        regions:
          type: array
          items:
            type: string
          description: Available clusters
        price:
          type: integer
          description: Price for creating a pay-as-you-go instance
        monthlyPrice:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionPrice'
          description: Price for creating a subscription instance
        billingMethods:
          type: array
          items:
            type: string
          description: Supported billing methods
        spotPrice:
          type: string
          description: Spot billing instance price
        inventoryState:
          type: string
          description: Stock status
          enum:
          - none
          - low
          - normal
          - high
          nullable: true
    ListGPUProductsResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GPUProduct'
          description: List of GPU product information
    CPUProduct:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: string
          description: Unique product identifier
        name:
          type: string
          description: Product display name
        cpuNum:
          type: integer
          description: Number of CPU cores
          nullable: true
        memorySize:
          type: integer
          description: RAM allocation in GB
          nullable: true
        rootfsSize:
          type: integer
          description: Root filesystem capacity in GB
          nullable: true
        localVolumeSize:
          type: integer
          description: Local storage in GB
          nullable: true
        availableDeploy:
          type: boolean
          description: Whether this product can be used to create an instance
          nullable: true
        price:
          type: integer
          description: Product unit cost
          nullable: true
    ListCPUProductsResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CPUProduct'
          description: List of CPU product information
    ErrorResponse:
      type: object
      required:
      - message
      properties:
        message:
          type: string
        details:
          type: object
          additionalProperties: true

    # Serverless Endpoint Schemas
    ListEndpointsResponse:
      type: object
      required:
      - endpoints
      - total
      properties:
        endpoints:
          type: array
          items:
            $ref: '#/components/schemas/EndpointDetail'
          description: Collection of endpoint configurations
        total:
          type: integer
          description: Count of all available results

    EndpointDetail:
      type: object
      properties:
        id:
          type: string
          description: Unique endpoint identifier
          nullable: true
        name:
          type: string
          description: Display name for the endpoint
          nullable: true
        appName:
          type: string
          description: Associated application name
          nullable: true
        url:
          type: string
          description: Endpoint URL. You can access your HTTP service via this URL
          nullable: true
        state:
          type: object
          description: Status details
          nullable: true
          properties:
            state:
              type: string
              description: Status value (e.g., "serving" when available)
              nullable: true
            error:
              type: string
              description: Error code if applicable
              nullable: true
            message:
              type: string
              description: Status message
              nullable: true
        workerConfig:
          type: object
          description: Worker scaling configuration
          nullable: true
          properties:
            minNum:
              type: integer
              description: Minimum worker count
              nullable: true
            maxNum:
              type: integer
              description: Maximum worker count
              nullable: true
            freeTimeout:
              type: integer
              description: Idle timeout in seconds
              nullable: true
            maxConcurrent:
              type: integer
              description: Request concurrency limit
              nullable: true
            gpuNum:
              type: integer
              description: GPUs allocated per worker
              nullable: true
            cudaVersion:
              type: string
              description: CUDA version
              nullable: true
        policy:
          type: object
          description: Auto-scaling rules
          nullable: true
          properties:
            type:
              type: string
              description: Scaling strategy (queue or concurrency)
              enum:
              - queue
              - concurrency
              nullable: true
            value:
              type: integer
              description: Threshold value (seconds for queue, request count for concurrency)
              nullable: true
        image:
          type: object
          description: Container specifications
          nullable: true
          properties:
            image:
              type: string
              description: Container image URL
              nullable: true
            authId:
              type: string
              description: Registry credentials ID
              nullable: true
            command:
              type: string
              description: Startup command
              nullable: true
        rootfsSize:
          type: integer
          description: System disk size in GB
          nullable: true
        volumeMounts:
          type: array
          description: Storage mounts
          nullable: true
          items:
            type: object
            properties:
              type:
                type: string
                description: Storage type (local or network)
                enum:
                - local
                - network
                nullable: true
              id:
                type: string
                description: Storage identifier (for network storage)
                nullable: true
              size:
                type: integer
                description: Storage size in GB (for local storage)
                nullable: true
              mountPath:
                type: string
                description: Mount path
                nullable: true
        envs:
          type: array
          description: Environment variables
          nullable: true
          items:
            type: object
            properties:
              key:
                type: string
                nullable: true
              value:
                type: string
                nullable: true
        ports:
          type: array
          description: HTTP port configurations
          nullable: true
          items:
            type: object
            properties:
              port:
                type: string
                description: Port number
                nullable: true
        workers:
          type: array
          description: Active worker details
          nullable: true
          items:
            type: object
            properties:
              id:
                type: string
                description: Worker identifier
                nullable: true
              state:
                type: object
                description: Worker state information
                nullable: true
              log:
                type: string
                description: Worker log path
                nullable: true
              metrics:
                type: object
                description: Worker metrics
                nullable: true
              health:
                type: object
                description: Worker health status
                nullable: true
        products:
          type: array
          description: Associated product IDs
          nullable: true
          items:
            type: object
            properties:
              id:
                type: string
                description: Product identifier
                nullable: true
        healthy:
          type: object
          description: Health check settings
          nullable: true
          properties:
            path:
              type: string
              description: Health check endpoint path
              nullable: true
        clusterID:
          type: string
          description: Cluster location for cloud storage
          nullable: true
        log:
          type: string
          description: Endpoint logging path
          nullable: true

    CreateEndpointRequest:
      type: object
      required:
      - endpoint
      properties:
        endpoint:
          type: object
          required:
          - workerConfig
          - ports
          - policy
          - image
          - products
          - rootfsSize
          - volumeMounts
          - healthy
          properties:
            name:
              type: string
              description: Endpoint identifier
              maxLength: 220
              nullable: true
            appName:
              type: string
              description: URL component (defaults to Endpoint ID if omitted)
              nullable: true
            workerConfig:
              type: array
              description: Worker scaling specifications
              items:
                type: object
                required:
                - minNum
                - maxNum
                - freeTimeout
                - maxConcurrent
                - gpuNum
                properties:
                  minNum:
                    type: integer
                    description: Minimum worker count
                  maxNum:
                    type: integer
                    description: Maximum worker count
                  freeTimeout:
                    type: integer
                    description: Idle timeout in seconds
                  maxConcurrent:
                    type: integer
                    description: Request concurrency limit
                  gpuNum:
                    type: integer
                    description: GPUs per worker
            ports:
              type: array
              description: HTTP port configuration (1-65535, excluding 2222-2224)
              items:
                type: object
                required:
                - port
                properties:
                  port:
                    type: string
                    description: Port number
            policy:
              type: array
              description: Auto-scaling rules
              items:
                type: object
                required:
                - type
                - value
                properties:
                  type:
                    type: string
                    description: Scaling strategy
                    enum:
                    - queue
                    - concurrency
                  value:
                    type: integer
                    description: Threshold value (seconds for queue, request count for concurrency)
            image:
              type: array
              description: Container image details
              items:
                type: object
                required:
                - image
                properties:
                  image:
                    type: string
                    description: Container image URL
                    maxLength: 511
                  authId:
                    type: string
                    description: Private registry credentials ID
                    maxLength: 255
                    nullable: true
                  command:
                    type: string
                    description: Container startup command
                    maxLength: 2047
                    nullable: true
            products:
              type: array
              description: Product identifiers
              items:
                type: object
                required:
                - id
                properties:
                  id:
                    type: string
                    description: Product ID
            rootfsSize:
              type: integer
              description: System disk size in GB (fixed at 100)
            volumeMounts:
              type: array
              description: Storage configuration
              items:
                type: object
                required:
                - type
                - mountPath
                properties:
                  type:
                    type: string
                    description: Storage type
                    enum:
                    - local
                    - network
                  size:
                    type: integer
                    description: Local storage only, fixed at 30 GB
                    nullable: true
                  id:
                    type: string
                    description: Network storage only
                    nullable: true
                  mountPath:
                    type: string
                    description: Mount path
                    maxLength: 255
            clusterID:
              type: string
              description: Required for cloud storage mounting
              nullable: true
            envs:
              type: array
              description: Environment variable pairs
              nullable: true
              items:
                type: object
                required:
                - key
                - value
                properties:
                  key:
                    type: string
                  value:
                    type: string
            healthy:
              type: object
              description: Health check configuration
              required:
              - path
              properties:
                path:
                  type: string
                  description: HTTP health check endpoint

    UpdateEndpointRequest:
      type: object
      required:
      - workerConfig
      - ports
      - policy
      - image
      properties:
        name:
          type: string
          description: Display name for the endpoint
          nullable: true
        clusterID:
          type: string
          description: Cluster information (required when mounting cloud storage)
          maxLength: 255
          nullable: true
        workerConfig:
          type: array
          description: Worker scaling configuration
          items:
            type: object
            required:
            - minNum
            - maxNum
            - freeTimeout
            - maxConcurrent
            - gpuNum
            properties:
              minNum:
                type: integer
                description: Minimum worker count
              maxNum:
                type: integer
                description: Maximum worker count
              freeTimeout:
                type: integer
                description: Idle timeout (seconds)
              maxConcurrent:
                type: integer
                description: Request concurrency limit
              gpuNum:
                type: integer
                description: GPUs allocated per worker
        ports:
          type: array
          description: HTTP port (range 1-65535, excluding 2222-2224)
          items:
            type: object
            required:
            - port
            properties:
              port:
                type: string
                description: Port number
        policy:
          type: array
          description: Auto-scaling policy
          items:
            type: object
            required:
            - type
            - value
            properties:
              type:
                type: string
                description: Scaling strategy
                enum:
                - queue
                - concurrency
              value:
                type: integer
                description: Threshold value (seconds for queue, request count for concurrency)
        image:
          type: array
          description: Container image configuration
          items:
            type: object
            required:
            - image
            properties:
              image:
                type: string
                description: Container image URL
                maxLength: 511
              authId:
                type: string
                description: Private registry credentials ID
                maxLength: 255
                nullable: true
              command:
                type: string
                description: Container startup command
                maxLength: 2047
                nullable: true
        volumeMounts:
          type: array
          description: Storage mounts
          nullable: true
          items:
            type: object
            required:
            - type
            - mountPath
            properties:
              type:
                type: string
                description: Storage type
                enum:
                - local
                - network
              size:
                type: integer
                description: Local storage size (fixed at 30 GB)
                nullable: true
              id:
                type: string
                description: Network storage identifier
                nullable: true
              mountPath:
                type: string
                description: Mount path
                maxLength: 255
        envs:
          type: array
          description: Environment variables
          nullable: true
          items:
            type: object
            required:
            - key
            - value
            properties:
              key:
                type: string
              value:
                type: string
        healthy:
          type: array
          description: Health check configuration
          nullable: true
          items:
            type: object
            required:
            - path
            properties:
              path:
                type: string
                description: Health verification endpoint path

    # Job Schemas
    ListJobsResponse:
      type: object
      required:
      - jobs
      - total
      properties:
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/Job'
          description: Collection of job records
        total:
          type: integer
          description: Count of matching jobs

    Job:
      type: object
      required:
      - Id
      - user
      - type
      - state
      - createdAt
      - instanceId
      properties:
        Id:
          type: string
          description: Unique job identifier
        user:
          type: string
          description: User ID who created the job
        type:
          type: string
          description: Job category
          enum:
          - saveImage
          - instanceMigrate
          - autoInstanceMigrate
        envs:
          type: array
          description: Environmental variables
          nullable: true
          items:
            type: object
            properties:
              key:
                type: string
                nullable: true
              value:
                type: string
                nullable: true
        state:
          type: object
          description: Status information
          properties:
            state:
              type: string
              description: Job state
              nullable: true
            error:
              type: string
              description: Error code
              nullable: true
            message:
              type: string
              description: Error message
              nullable: true
        logAddress:
          type: string
          description: URL for accessing execution logs
          nullable: true
        createdAt:
          type: string
          description: Job creation timestamp (Unix seconds)
        instanceId:
          type: string
          description: Associated GPU instance identifier

    SaveImageRequest:
      type: object
      required:
      - instanceId
      - image
      properties:
        instanceId:
          type: string
          description: The identifier for the compute instance
          minLength: 1
          maxLength: 255
        image:
          type: string
          description: Complete image reference with registry, repository, and tag
          minLength: 1
          maxLength: 4095
        registryAuthId:
          type: string
          description: Authentication credentials for private registries (omit for public or platform registries)
          nullable: true

    # Image Prewarm Schemas
    ListImagePrewarmTasksResponse:
      type: object
      required:
      - data
      - total
      properties:
        data:
          type: array
          description: List of prewarm tasks.
          items:
            $ref: '#/components/schemas/ImagePrewarmTask'
        total:
          type: integer
          description: Total number of tasks.

    ImagePrewarmTask:
      type: object
      required:
      - id
      - imageName
      - imageUrl
      - clusterId
      - clusterName
      - products
      - createTime
      - state
      properties:
        id:
          type: string
          description: Prewarm task ID.
        imageName:
          type: string
          description: Image name (last segment of the image URL without the tag).
        imageUrl:
          type: string
          description: Image URL.
        repositoryAuth:
          type: string
          description: Image registry authentication ID.
          nullable: true
        clusterId:
          type: string
          description: Cluster ID.
        clusterName:
          type: string
          description: Cluster name.
        products:
          type: array
          description: Products to prewarm.
          items:
            $ref: '#/components/schemas/ImagePrewarmProduct'
        imageSize:
          type: string
          description: Image size in bytes.
          nullable: true
        createTime:
          type: string
          description: Task creation time (Unix timestamp in seconds).
        state:
          type: string
          description: Task state.
          enum:
          - Pending
          - Running
          - Succeeded
          - Failed
        completeTime:
          type: string
          description: Task completion time (Unix timestamp in seconds).
          nullable: true
        note:
          type: string
          description: Task note.
          nullable: true
        reason:
          type: array
          description: Reason messages when the task fails.
          items:
            type: string
          nullable: true

    ImagePrewarmProduct:
      type: object
      required:
      - productId
      - productName
      properties:
        productId:
          type: string
          description: Product ID.
        productName:
          type: string
          description: Product name.

    CreateImagePrewarmRequest:
      type: object
      required:
      - imageUrl
      - clusterId
      properties:
        imageUrl:
          type: string
          description: Image address to prewarm.
          minLength: 1
          maxLength: 500
        repositoryAuth:
          type: string
          description: Image registry authentication ID (required for private registries).
          nullable: true
        clusterId:
          type: string
          description: Cluster ID where the image should be prewarmed.
        productIds:
          type: array
          description: Product IDs to prewarm on. Leave empty to prewarm globally in the cluster.
          items:
            type: string
        note:
          type: string
          description: Task note or description.
          nullable: true

    CreateImagePrewarmResponse:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: Created prewarm task ID.

    UpdateImagePrewarmRequest:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: Prewarm task ID.
        note:
          type: string
          description: Task note.
          nullable: true

    DeleteImagePrewarmRequest:
      type: object
      required:
      - ids
      properties:
        ids:
          type: array
          description: IDs of prewarm tasks to delete.
          items:
            type: string
          minItems: 1

    # Registry Auth Schemas
    ListRepositoryAuthsResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/RepositoryAuth'
          description: List of container registry authentications

    RepositoryAuth:
      type: object
      required:
      - id
      - name
      - username
      - password
      properties:
        id:
          type: string
          description: Authentication identifier
        name:
          type: string
          description: Registry name/URL
        username:
          type: string
          description: Registry username
        password:
          type: string
          description: Registry password (returned as masked)
          format: password

    CreateRepositoryAuthRequest:
      type: object
      required:
      - name
      - username
      - password
      properties:
        name:
          type: string
          description: Registry name/URL
          minLength: 1
          maxLength: 500
        username:
          type: string
          description: Registry username
          minLength: 1
          maxLength: 500
        password:
          type: string
          description: Registry password (stored securely, not logged)
          format: password
          minLength: 1
          maxLength: 500

    DeleteRepositoryAuthRequest:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: Authentication ID to delete

    # Network Schemas
    ListNetworksResponse:
      type: object
      required:
      - network
      - total
      properties:
        network:
          type: array
          items:
            $ref: '#/components/schemas/Network'
          description: List of VPC networks
        total:
          type: integer
          description: Total count of VPC networks

    Network:
      type: object
      required:
      - Id
      - user
      - name
      - state
      - segment
      - clusterId
      - Addresses
      - createTime
      properties:
        Id:
          type: string
          description: VPC network identifier
        user:
          type: string
          description: User account ID
        name:
          type: string
          description: VPC network name
        state:
          type: object
          required:
          - state
          properties:
            state:
              type: string
              enum:
              - creating
              - ready
              description: Network status
            error:
              type: string
              description: Error details if creation fails
              nullable: true
          description: Network operational status
        segment:
          type: string
          description: VPC network segment designation
        clusterId:
          type: string
          description: Associated cluster identifier
        Addresses:
          type: array
          items:
            type: object
            required:
            - Id
            - Ip
            properties:
              Id:
                type: string
                description: Instance identifier
              Ip:
                type: string
                description: Instance IP address
          description: Instances within the VPC network
        createTime:
          type: string
          description: VPC network creation time (Unix timestamp format)

    CreateNetworkRequest:
      type: object
      required:
      - clusterId
      properties:
        clusterId:
          type: string
          description: Target cluster ID (obtain via List Clusters API)
          minLength: 1
          maxLength: 255
        name:
          type: string
          description: Custom VPC network name
          minLength: 0
          maxLength: 30
          nullable: true

    UpdateNetworkRequest:
      type: object
      required:
      - networkId
      properties:
        networkId:
          type: string
          description: VPC network ID to update
          minLength: 1
          maxLength: 255
        name:
          type: string
          description: Custom network name
          minLength: 1
          maxLength: 30
          nullable: true

    DeleteNetworkRequest:
      type: object
      required:
      - networkId
      properties:
        networkId:
          type: string
          description: VPC network ID to delete (ensure no instances are under this VPC network before deletion)
          minLength: 1
          maxLength: 255

    # Network Storage Schemas
    ListNetworkStoragesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/NetworkStorage'
          description: Collection of storage records
          nullable: true
        total:
          type: integer
          description: Total count of matching storages
          nullable: true

    NetworkStorage:
      type: object
      properties:
        storageId:
          type: string
          description: Unique storage identifier
          nullable: true
        storageName:
          type: string
          description: User-defined storage name
          nullable: true
        storageSize:
          type: integer
          description: Storage capacity measurement
          nullable: true
        clusterId:
          type: string
          description: Associated cluster identifier
          nullable: true
        clusterName:
          type: string
          description: Associated cluster name
          nullable: true
        price:
          type: string
          description: Storage pricing information
          nullable: true

    CreateNetworkStorageRequest:
      type: object
      required:
      - clusterId
      - storageName
      - storageSize
      properties:
        clusterId:
          type: string
          description: Identifier for the cluster
        storageName:
          type: string
          description: Name assigned to the storage resource
        storageSize:
          type: integer
          description: Capacity allocation for storage

    UpdateNetworkStorageRequest:
      type: object
      required:
      - storageId
      - storageName
      - storageSize
      properties:
        storageId:
          type: string
          description: Unique identifier distinguishing the storage resource
        storageName:
          type: string
          description: The display name assigned to the storage
        storageSize:
          type: integer
          description: Capacity measurement in appropriate units

    DeleteNetworkStorageRequest:
      type: object
      required:
      - storageId
      properties:
        storageId:
          type: string
          description: Identifier for the network storage to be removed

    # Template Schemas
    ListTemplatesResponse:
      type: object
      required:
      - template
      - pageSize
      - pageNum
      - total
      properties:
        template:
          type: array
          description: List of templates.
          items:
            $ref: '#/components/schemas/Template'
        pageSize:
          type: integer
          description: Maximum number of entries returned on one page.
        pageNum:
          type: integer
          description: Current page index.
        total:
          type: integer
          description: Total number of templates.

    GetTemplateResponse:
      type: object
      required:
      - template
      properties:
        template:
          $ref: '#/components/schemas/Template'
          description: Template details.

    Template:
      type: object
      required:
      - Id
      - name
      - type
      - channel
      - image
      - startCommand
      - rootfsSize
      properties:
        Id:
          type: string
          description: Unique template identifier.
        createTime:
          type: string
          format: date-time
          description: Template creation time.
        user:
          type: string
          description: ID of the user who created the template.
        tools:
          type: array
          description: Tools enabled for the template.
          items:
            type: string
        name:
          type: string
          description: Template name.
        readme:
          type: string
          description: Template README content (Markdown).
        type:
          type: string
          description: Template type.
          enum:
          - instance
        channel:
          type: string
          description: Template channel.
          enum:
          - private
        image:
          type: string
          description: Docker image address for instance startup.
        imageAuth:
          type: string
          description: Credentials for the Docker image registry to pull private images.
        startCommand:
          type: string
          description: Startup command for the instance.
        rootfsSize:
          type: integer
          description: Root filesystem storage size (GB).
        volumes:
          type: array
          description: Volume settings.
          items:
            $ref: '#/components/schemas/TemplateVolume'
        ports:
          type: array
          description: Exposed port settings.
          items:
            $ref: '#/components/schemas/TemplatePort'
        envs:
          type: array
          description: Environment variables injected into the instance.
          items:
            $ref: '#/components/schemas/TemplateEnvironmentVariable'

    TemplateVolume:
      type: object
      required:
      - type
      - size
      - mountPath
      properties:
        type:
          type: string
          description: Volume type.
        size:
          type: integer
          description: Volume size (GB).
        mountPath:
          type: string
          description: Volume mount path.

    TemplatePort:
      type: object
      required:
      - type
      - ports
      properties:
        type:
          type: string
          description: Exposed port type.
          enum:
          - http
          - tcp
        ports:
          type: array
          description: Exposed ports (maximum of 10 per entry).
          maxItems: 10
          items:
            type: integer

    TemplateEnvironmentVariable:
      type: object
      required:
      - key
      - value
      properties:
        key:
          type: string
          description: Environment variable key.
        value:
          type: string
          description: Environment variable value.

    CreateTemplateRequest:
      type: object
      required:
      - template
      properties:
        template:
          $ref: '#/components/schemas/TemplateCreatePayload'
          description: Template settings.

    TemplateCreatePayload:
      type: object
      required:
      - name
      - readme
      - type
      - channel
      - image
      - startCommand
      - rootfsSize
      - ports
      - volumes
      - envs
      properties:
        name:
          type: string
          description: Template name.
        readme:
          type: string
          description: Template README content (Markdown).
        type:
          type: string
          description: Template type.
          enum:
          - instance
        channel:
          type: string
          description: Template channel.
          enum:
          - private
        image:
          type: string
          description: Docker image address for instance startup.
        startCommand:
          type: string
          description: Startup command for the instance.
        rootfsSize:
          type: integer
          description: Root filesystem storage size (GB).
        ports:
          type: array
          description: Exposed port settings.
          items:
            $ref: '#/components/schemas/TemplatePort'
        volumes:
          type: array
          description: Volume settings.
          items:
            $ref: '#/components/schemas/TemplateVolume'
        envs:
          type: array
          description: Environment variables injected into the instance.
          items:
            $ref: '#/components/schemas/TemplateEnvironmentVariable'

    CreateTemplateResponse:
      type: object
      required:
      - templateId
      properties:
        templateId:
          type: string
          description: ID of the created template.

    DeleteTemplateRequest:
      type: object
      required:
      - templateId
      properties:
        templateId:
          type: string
          description: Template ID to delete.

    DeleteTemplateResponse:
      type: object
      required:
      - templateId
      properties:
        templateId:
          type: string
          description: ID of the deleted template.

  responses:
    UnauthorizedError:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequestError:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
