openapi: 3.0.3
info:
  title: Novita GPU API
  version: 1.0.0
  description: Complete OpenAPI spec for Novita GPU Instance API
servers:
- url: https://api.novita.ai/gpu-instance/openapi/v1
  description: Production server
security:
- BearerAuth: []
paths:
  /clusters:
    get:
      summary: List clusters/regions
      operationId: list_clusters
      tags:
      - Cluster
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Cluster'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /gpu/instances:
    get:
      summary: List all GPU instances
      operationId: list_instances
      tags:
      - Instances
      parameters:
      - name: pageSize
        in: query
        required: true
        schema:
          type: integer
          minimum: 0
        description: Items per page
      - name: pageNum
        in: query
        required: true
        schema:
          type: integer
          minimum: 0
        description: Page number
      - name: name
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 255
        description: Fuzzy search by instance name
      - name: productName
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 255
        description: Fuzzy search by product name
      - name: status
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 63
          enum:
          - toCreate
          - creating
          - pulling
          - running
          - toStart
          - starting
          - toStop
          - stopping
          - exited
          - toRestart
          - restarting
          - toRemove
          - removing
          - removed
          - toReset
          - resetting
          - migrating
          - freezing
        description: Filter by instance status
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListInstancesResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /gpu/instance:
    get:
      summary: Get GPU instance details
      operationId: get_instance
      tags:
      - Instances
      parameters:
      - name: instance_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceInfo'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /gpu/instance/create:
    post:
      summary: Create a new GPU instance
      operationId: create_instance
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInstanceRequest'
      responses:
        '200':
          description: Instance created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInstanceResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /gpu/instance/edit:
    post:
      summary: Edit GPU instance
      operationId: edit_instance
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - type: object
                required:
                - instance_id
                properties:
                  instance_id:
                    type: string
              - $ref: '#/components/schemas/UpdateInstanceRequest'
      responses:
        '200':
          description: Instance updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceInfo'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /gpu/instance/start:
    post:
      summary: Start GPU instance
      operationId: start_instance
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - instance_id
              properties:
                instance_id:
                  type: string
      responses:
        '200':
          description: Instance start initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceActionResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /gpu/instance/stop:
    post:
      summary: Stop GPU instance
      operationId: stop_instance
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - instance_id
              properties:
                instance_id:
                  type: string
      responses:
        '200':
          description: Instance stop initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceActionResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /gpu/instance/delete:
    post:
      summary: Delete GPU instance
      operationId: delete_instance
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - instance_id
              properties:
                instance_id:
                  type: string
      responses:
        '200':
          description: Instance deletion initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceActionResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /gpu/instance/restart:
    post:
      summary: Restart GPU instance
      operationId: restart_instance
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - instance_id
              properties:
                instance_id:
                  type: string
      responses:
        '200':
          description: Instance restart initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceActionResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /gpu/instance/upgrade:
    post:
      summary: Upgrade GPU instance
      operationId: upgrade_instance
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpgradeInstanceRequest'
      responses:
        '200':
          description: Instance upgrade initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceActionResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /gpu/instance/migrate:
    post:
      summary: Migrate GPU instance
      operationId: migrate_instance
      tags:
      - Instances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - instance_id
              - target_region
              properties:
                instance_id:
                  type: string
                target_region:
                  type: string
      responses:
        '200':
          description: Instance migration initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceActionResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /gpu/instance/renewInstance:
    post:
      summary: Renew subscription instance
      operationId: renew_instance
      tags:
        - Instances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - instance_id
                - duration_hours
              properties:
                instance_id:
                  type: string
                  description: The ID of the subscription instance to be renewed
                duration_hours:
                  type: integer
                  description: Renewal duration in hours
      responses:
        '200':
          description: Instance renewal initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceActionResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /gpu/instance/transToMonthlyInstance:
    post:
      summary: Convert pay-as-you-go instance to subscription
      operationId: convert_to_monthly_instance
      tags:
        - Instances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - instance_id
              properties:
                instance_id:
                  type: string
                  description: The pay-as-you-go instance identifier to convert to subscription format
      responses:
        '200':
          description: Instance conversion initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceActionResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /jobs:
    get:
      summary: List jobs
      operationId: list_jobs
      tags:
        - Jobs
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListJobsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /job/break:
    post:
      summary: Break (cancel) job
      operationId: break_job
      tags:
      - Jobs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - job_id
              properties:
                job_id:
                  type: string
      responses:
        '200':
          description: Job cancelled successfully
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /job/save/image:
    post:
      summary: Save instance image
      operationId: save_instance_image
      tags:
        - Jobs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveImageRequest'
      responses:
        '200':
          description: Image save initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceActionResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /endpoint/limit:
    get:
      summary: Get endpoint parameter limit ranges
      operationId: get_endpoint_limits
      tags:
      - Endpoints
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                - minRootfsSize
                - maxRootfsSize
                - freeRootfsSize
                - minLocalVolumeSize
                - maxLocalVolumeSize
                - freeLocalVolumeSize
                - minWorkerNum
                - maxWorkerNum
                - minFreeTimeout
                - maxFreeTimeout
                - minConcurrencyNum
                - maxConcurrencyNum
                - minQueueWaitTime
                - maxQueueWaitTime
                - minRequestNum
                - maxRequestNum
                - minGPUNum
                - maxGPUNum
                - cudaVersionList
                properties:
                  minRootfsSize:
                    type: integer
                    description: Minimum root filesystem size in GB
                  maxRootfsSize:
                    type: integer
                    description: Maximum root filesystem size in GB
                  freeRootfsSize:
                    type: integer
                    description: Free root filesystem size in GB
                  minLocalVolumeSize:
                    type: integer
                    description: Minimum local volume size in GB
                  maxLocalVolumeSize:
                    type: integer
                    description: Maximum local volume size in GB
                  freeLocalVolumeSize:
                    type: integer
                    description: Free local volume size in GB
                  minWorkerNum:
                    type: integer
                    description: Minimum number of worker nodes
                  maxWorkerNum:
                    type: integer
                    description: Maximum number of worker nodes
                  minFreeTimeout:
                    type: integer
                    description: Minimum free timeout in seconds
                  maxFreeTimeout:
                    type: integer
                    description: Maximum free timeout in seconds
                  minConcurrencyNum:
                    type: integer
                    description: Minimum concurrency number
                  maxConcurrencyNum:
                    type: integer
                    description: Maximum concurrency number
                  minQueueWaitTime:
                    type: integer
                    description: Minimum queue wait time in seconds
                  maxQueueWaitTime:
                    type: integer
                    description: Maximum queue wait time in seconds
                  minRequestNum:
                    type: integer
                    description: Minimum request number
                  maxRequestNum:
                    type: integer
                    description: Maximum request number
                  minGPUNum:
                    type: integer
                    description: Minimum GPU number
                  maxGPUNum:
                    type: integer
                    description: Maximum GPU number
                  cudaVersionList:
                    type: array
                    items:
                      type: string
                    description: List of supported CUDA versions
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /endpoint/create:
    post:
      summary: Create serverless endpoint
      operationId: create_endpoint
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEndpointRequest'
      responses:
        '200':
          description: Endpoint created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointDetail'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /endpoints:
    get:
      summary: List serverless endpoints
      operationId: list_endpoints
      tags:
      - Endpoints
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEndpointsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
      parameters:
      - name: pageSize
        in: query
        required: true
        schema:
          type: integer
        description: Maximum number of items returned per page
      - name: pageNum
        in: query
        required: true
        schema:
          type: integer
        description: Current page number
  /endpoint:
    get:
      summary: Get single serverless endpoint
      operationId: get_endpoint
      tags:
      - Endpoints
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
        description: Identifier for the endpoint being retrieved
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointDetail'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /endpoint/update:
    post:
      summary: Update serverless endpoint
      operationId: update_endpoint
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required:
                    - id
                  properties:
                    id:
                      type: string
                      description: Endpoint ID to update
                - $ref: '#/components/schemas/UpdateEndpointRequest'
      responses:
        '200':
          description: Endpoint updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointDetail'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /endpoint/delete:
    post:
      summary: Delete serverless endpoint
      operationId: delete_endpoint
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: The ID of the endpoint to delete
      responses:
        '200':
          description: Endpoint deleted successfully
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /image/prewarm/quota:
    get:
      summary: Get image prewarm quota
      operationId: get_image_prewarm_quota
      tags:
      - Image
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /image/prewarm:
    post:
      summary: Create image prewarm task
      operationId: create_image_prewarm
      tags:
        - Image
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateImagePrewarmRequest'
      responses:
        '200':
          description: Prewarm task created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePrewarmTask'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    get:
      summary: List image prewarm tasks
      operationId: list_image_prewarm_tasks
      tags:
        - Image
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListImagePrewarmTasksResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /image/prewarm/edit:
    post:
      summary: Update image prewarm task
      operationId: update_image_prewarm
      tags:
        - Image
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateImagePrewarmRequest'
      responses:
        '200':
          description: Prewarm task updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePrewarmTask'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /image/prewarm/delete:
    post:
      summary: Delete image prewarm tasks
      operationId: delete_image_prewarm
      tags:
      - Image
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Prewarm tasks deleted successfully
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /repository/auths:
    get:
      summary: List container registry auths
      operationId: list_repository_auths
      tags:
        - Image Registry
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRepositoryAuthsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /repository/auth/save:
    post:
      summary: Create container registry auth
      operationId: create_repository_auth
      tags:
        - Image Registry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRepositoryAuthRequest'
      responses:
        '200':
          description: Registry auth created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepositoryAuth'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /repository/auth/delete:
    post:
      summary: Delete container registry auth
      operationId: delete_repository_auth
      tags:
        - Image Registry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRepositoryAuthRequest'
      responses:
        '200':
          description: Registry auth deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceActionResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /networks:
    get:
      summary: List networks
      operationId: list_networks
      tags:
        - Network
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNetworksResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /network:
    get:
      summary: Get network details
      operationId: get_network
      tags:
      - Network
      parameters:
      - name: network_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /network/create:
    post:
      summary: Create network storage
      operationId: create_network
      tags:
        - Network
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNetworkRequest'
      responses:
        '200':
          description: Network created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Network'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /network/update:
    post:
      summary: Update network storage
      operationId: update_network
      tags:
        - Network
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNetworkRequest'
      responses:
        '200':
          description: Network updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Network'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /network/delete:
    post:
      summary: Delete network storage
      operationId: delete_network
      tags:
        - Network
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteNetworkRequest'
      responses:
        '200':
          description: Network deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceActionResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /networkstorages/list:
    get:
      summary: List network storage volumes
      operationId: list_network_storages
      tags:
        - Network Storage
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNetworkStoragesResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /networkstorage/create:
    post:
      summary: Create network storage
      operationId: create_network_storage
      tags:
        - Network Storage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNetworkStorageRequest'
      responses:
        '200':
          description: Network storage created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkStorage'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /networkstorage/update:
    post:
      summary: Update network storage
      operationId: update_network_storage
      tags:
        - Network Storage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNetworkStorageRequest'
      responses:
        '200':
          description: Network storage updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkStorage'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /networkstorage/delete:
    post:
      summary: Delete network storage
      operationId: delete_network_storage
      tags:
        - Network Storage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteNetworkStorageRequest'
      responses:
        '200':
          description: Network storage deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceActionResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /templates:
    get:
      summary: List templates
      operationId: list_templates
      tags:
        - Template
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTemplatesResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /template:
    get:
      summary: Get template details
      operationId: get_template
      tags:
      - Template
      parameters:
      - name: template_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /template/create:
    post:
      summary: Create template
      operationId: create_template
      tags:
        - Template
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateRequest'
      responses:
        '200':
          description: Template created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /template/delete:
    post:
      summary: Delete template
      operationId: delete_template
      tags:
        - Template
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteTemplateRequest'
      responses:
        '200':
          description: Template deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceActionResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /metrics/gpu/instance:
    get:
      summary: Fetch instance monitor metrics
      operationId: get_instance_metrics
      tags:
      - Metrics
      parameters:
      - name: instance_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /products:
    get:
      summary: List GPU instance products
      operationId: list_gpu_products
      tags:
      - Products
      parameters:
      - name: clusterId
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 255
        description: Filter by cluster
      - name: gpuNum
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          maximum: 8
        description: Filter by GPU count
      - name: productName
        in: query
        required: false
        schema:
          type: string
        description: Fuzzy matching on product names
      - name: minCpuPerGpu
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
        description: CPU core threshold
      - name: minMemoryPerGpu
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
        description: Memory threshold in GB
      - name: minRootFSSize
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
        description: Root filesystem threshold in GB
      - name: billingMethod
        in: query
        required: false
        schema:
          type: string
          enum:
          - onDemand
          - monthly
          - spot
        description: Filter by billing method
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGPUProductsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /cpu/products:
    get:
      summary: List CPU instance products
      operationId: list_cpu_products
      tags:
      - Products
      parameters:
      - name: clusterId
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 255
        description: Filter by cluster identifier
      - name: productName
        in: query
        required: false
        schema:
          type: string
          minLength: 0
          maxLength: 255
        description: Fuzzy match filtering by product name
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCPUProductsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Cluster:
      type: object
      required:
      - id
      - name
      - availableGpuType
      - supportNetworkStorage
      - supportInstanceNetwork
      properties:
        id:
          type: string
          description: Cluster ID
        name:
          type: string
          description: Cluster name
        availableGpuType:
          type: array
          items:
            type: string
          description: Supported GPU types in the cluster
        supportNetworkStorage:
          type: boolean
          description: Whether cloud storage creation is supported
        supportInstanceNetwork:
          type: boolean
          description: Whether VPC network creation is supported
    CreateInstanceRequest:
      type: object
      required:
      - productId
      - gpuNum
      - rootfsSize
      - imageUrl
      - kind
      properties:
        name:
          type: string
          description: Name for the instance
          minLength: 0
          maxLength: 255
        productId:
          type: string
          description: GPU product identifier
          minLength: 1
          maxLength: 255
        gpuNum:
          type: integer
          description: Number of GPUs
          minimum: 1
          maximum: 8
        rootfsSize:
          type: integer
          description: Root filesystem size in GB
          minimum: 10
          maximum: 6144
        imageUrl:
          type: string
          description: Container image URL
          minLength: 1
          maxLength: 500
        kind:
          type: string
          description: Instance type
          enum:
          - gpu
          - cpu
        imageAuth:
          type: string
          description: Registry credentials
          nullable: true
        imageAuthId:
          type: string
          description: Authentication reference ID
          nullable: true
        ports:
          type: string
          description: Exposed ports with protocols
          nullable: true
        envs:
          type: array
          description: Environment variables
          maxItems: 100
          items:
            type: object
            required:
            - key
            - value
            properties:
              key:
                type: string
              value:
                type: string
        tools:
          type: array
          description: Tool configuration (e.g., Jupyter)
          items:
            type: object
        command:
          type: string
          description: Startup command
          minLength: 0
          maxLength: 2047
          nullable: true
        clusterId:
          type: string
          description: Cluster placement specification
          nullable: true
        networkStorages:
          type: array
          description: Cloud storage mounts
          maxItems: 30
          items:
            type: object
        networkId:
          type: string
          description: VPC network reference
          nullable: true
        month:
          type: integer
          description: Subscription duration in months
          nullable: true
        billingMode:
          type: string
          description: Billing mode
          enum:
          - onDemand
          - monthly
          - spot
          nullable: true
    UpdateInstanceRequest:
      type: object
      properties:
        name:
          type: string
          description: New name for the instance
          nullable: true
        ports:
          type: array
          description: Port configurations (max 15 combined with tools)
          nullable: true
          maxItems: 15
          items:
            type: object
            properties:
              port:
                type: integer
                description: Port number (1-65535, excluding 2222, 2223, 2224)
                minimum: 1
                maximum: 65535
              type:
                type: string
                description: Protocol type
                enum:
                - tcp
                - http
        expandRootDisk:
          type: integer
          description: Disk expansion in GB (0 means no expansion)
          nullable: true
          minimum: 0
    UpgradeInstanceRequest:
      type: object
      required:
      - instanceId
      - imageUrl
      - envs
      - command
      - save
      - networkVolume
      properties:
        instanceId:
          type: string
          description: Identifier for the instance being upgraded
        imageUrl:
          type: string
          description: Container image location
          minLength: 1
          maxLength: 500
        imageAuthId:
          type: string
          description: Registry authentication credential
          nullable: true
        envs:
          type: array
          description: Environment variable pairs
          maxItems: 100
          items:
            type: object
            required:
            - key
            - value
            properties:
              key:
                type: string
              value:
                type: string
        command:
          type: string
          description: Container startup instruction
          minLength: 0
          maxLength: 2047
        save:
          type: boolean
          description: Whether to retain data from the previous instance
        networkVolume:
          type: object
          description: Cloud storage configuration
          required:
          - volumeMounts
          properties:
            volumeMounts:
              type: array
              description: Cloud storage mounts (max 30, use empty array to remove
                all)
              maxItems: 30
              items:
                type: object
                required:
                - type
                - id
                - mountPath
                properties:
                  type:
                    type: string
                    description: Must be "network"
                    enum:
                    - network
                  id:
                    type: string
                    description: Storage identifier
                  mountPath:
                    type: string
                    description: Attachment location
                    minLength: 1
                    maxLength: 4095
                    default: /network
    CreateInstanceResponse:
      type: object
      required:
      - instance_id
      - status
      properties:
        instance_id:
          type: string
          description: ID of the created instance
          example: inst-abc123
        status:
          type: string
          description: Initial status of the instance
          example: PENDING
    InstanceInfo:
      type: object
      required:
      - id
      - name
      - status
      - clusterId
      properties:
        id:
          type: string
          description: Unique identifier
        name:
          type: string
          description: Instance name
        clusterId:
          type: string
          description: Cluster ID where instance is running
        clusterName:
          type: string
          description: Cluster name
          nullable: true
        status:
          type: string
          enum:
          - toCreate
          - creating
          - pulling
          - running
          - toStart
          - starting
          - toStop
          - stopping
          - exited
          - toRestart
          - restarting
          - toRemove
          - removing
          - removed
          - toReset
          - resetting
          - migrating
          - freezing
        imageUrl:
          type: string
          description: Container image URL
          nullable: true
        imageAuthId:
          type: string
          description: Image authentication ID
          nullable: true
        cpuNum:
          type: integer
          description: Number of CPU cores
          nullable: true
        memory:
          type: integer
          description: Memory size in GB
          nullable: true
        gpuNum:
          type: integer
          description: Number of GPUs
          nullable: true
        rootfsSize:
          type: integer
          description: Root filesystem size in GB
          nullable: true
        command:
          type: string
          description: Startup command
          nullable: true
        portMappings:
          type: array
          description: Port mapping configurations
          items:
            type: object
            properties:
              port:
                type: integer
              endpoint:
                type: string
              protocol:
                type: string
        volumeMounts:
          type: array
          description: Volume mount configurations
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                - network
                - local
              id:
                type: string
              size:
                type: integer
              mountPath:
                type: string
        envs:
          type: array
          description: Environment variables
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
        billingMode:
          type: string
          description: Billing mode
          enum:
          - onDemand
          - monthly
          - spot
          nullable: true
        endTime:
          type: integer
          description: Expiration timestamp for subscription instances
          nullable: true
        spotStatus:
          type: string
          description: Spot instance status
          enum:
          - running
          - notified
          - reclaiming
          - terminated
          nullable: true
        spotReclaimTime:
          type: integer
          description: Spot instance reclaim timestamp
          nullable: true
        productId:
          type: string
          description: Product ID
          nullable: true
        productName:
          type: string
          description: Product name
          nullable: true
        statusError:
          type: object
          description: Error information if instance failed
          nullable: true
          properties:
            code:
              type: string
            message:
              type: string
        connectComponentSSH:
          type: object
          description: SSH connection details
          nullable: true
          properties:
            sshCommand:
              type: string
            password:
              type: string
            isRunning:
              type: boolean
        connectComponentWebTerminal:
          type: object
          description: Web terminal connection details
          nullable: true
          properties:
            address:
              type: string
            username:
              type: string
            password:
              type: string
            isRunning:
              type: boolean
        connectComponentJupyter:
          type: object
          description: Jupyter connection details
          nullable: true
          properties:
            port:
              type: integer
            address:
              type: string
            isRunning:
              type: boolean
        connectComponentLog:
          type: object
          description: Log access details
          nullable: true
          properties:
            systemLogAddress:
              type: string
            instanceLogAddress:
              type: string
        network:
          type: object
          description: VPC network configuration
          nullable: true
          properties:
            id:
              type: string
            ipAddress:
              type: string
        jobs:
          type: array
          description: Running jobs
          items:
            type: object
        keepDataDay:
          type: integer
          description: Data retention period in days
          nullable: true
        freeStorageSize:
          type: integer
          description: Free storage size in GB
          nullable: true
        node:
          type: object
          description: Node information
          nullable: true
          properties:
            maxRootfsSize:
              type: integer
    InstanceActionResponse:
      type: object
      required:
      - instance_id
      - success
      properties:
        instance_id:
          type: string
          description: Instance ID
        success:
          type: boolean
          description: Whether the action succeeded
        message:
          type: string
          description: Optional message
          nullable: true
    ListInstancesResponse:
      type: object
      required:
      - instances
      - total
      properties:
        instances:
          type: array
          items:
            $ref: '#/components/schemas/InstanceInfo'
        total:
          type: integer
          description: Total number of instances
    SubscriptionPrice:
      type: object
      required:
      - price
      - month
      properties:
        price:
          type: integer
          description: Unit price for the subscription instance
        month:
          type: integer
          description: Subscription duration, in months
    GPUProduct:
      type: object
      required:
      - id
      - name
      - cpuPerGpu
      - memoryPerGpu
      - diskPerGpu
      - availableDeploy
      - minRootFS
      - maxRootFS
      - minLocalStorage
      - maxLocalStorage
      - regions
      - price
      - monthlyPrice
      - billingMethods
      - spotPrice
      properties:
        id:
          type: string
          description: Product ID
        name:
          type: string
          description: Product name
        cpuPerGpu:
          type: integer
          description: Number of CPU cores per GPU
        memoryPerGpu:
          type: integer
          description: Memory size per GPU (GB)
        diskPerGpu:
          type: integer
          description: Disk size per GPU (GB)
        availableDeploy:
          type: boolean
          description: Whether this product can be used to create an instance
        minRootFS:
          type: integer
          description: Minimum available root filesystem size (GB)
        maxRootFS:
          type: integer
          description: Maximum available root filesystem size (GB)
        minLocalStorage:
          type: integer
          description: Minimum available local storage size (GB)
        maxLocalStorage:
          type: integer
          description: Maximum available local storage size (GB)
        regions:
          type: array
          items:
            type: string
          description: Available clusters
        price:
          type: integer
          description: Price for creating a pay-as-you-go instance
        monthlyPrice:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionPrice'
          description: Price for creating a subscription instance
        billingMethods:
          type: array
          items:
            type: string
          description: Supported billing methods
        spotPrice:
          type: string
          description: Spot billing instance price
        inventoryState:
          type: string
          description: Stock status
          enum:
          - none
          - low
          - normal
          - high
          nullable: true
    ListGPUProductsResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GPUProduct'
          description: List of GPU product information
    CPUProduct:
      type: object
      required:
      - id
      - name
      - cpuNum
      - memorySize
      - rootfsSize
      - localVolumeSize
      - availableDeploy
      - price
      properties:
        id:
          type: string
          description: Unique product identifier
        name:
          type: string
          description: Product display name
        cpuNum:
          type: integer
          description: Number of CPU cores
        memorySize:
          type: integer
          description: RAM allocation in GB
        rootfsSize:
          type: integer
          description: Root filesystem capacity in GB
        localVolumeSize:
          type: integer
          description: Local storage in GB
        availableDeploy:
          type: boolean
          description: Whether this product can be used to create an instance
        price:
          type: integer
          description: Product unit cost
    ListCPUProductsResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CPUProduct'
          description: List of CPU product information
    ErrorResponse:
      type: object
      required:
      - message
      properties:
        message:
          type: string
        details:
          type: object
          additionalProperties: true
    
    # Serverless Endpoint Schemas
    ListEndpointsResponse:
      type: object
      required:
      - data
      - total
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EndpointDetail'
          description: List of serverless endpoints
        total:
          type: integer
          description: Total number of endpoints
    
    EndpointDetail:
      type: object
      required:
      - id
      - name
      - status
      properties:
        id:
          type: string
          description: Unique endpoint identifier
        name:
          type: string
          description: Endpoint name
        status:
          type: string
          description: Current endpoint status
          enum:
          - pending
          - running
          - stopped
          - error
        imageUrl:
          type: string
          description: Container image URL
          nullable: true
        productId:
          type: string
          description: GPU product ID
          nullable: true
        gpuNum:
          type: integer
          description: Number of GPUs
          nullable: true
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
          nullable: true
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
          nullable: true
    
    CreateEndpointRequest:
      type: object
      required:
      - name
      - imageUrl
      - productId
      - gpuNum
      properties:
        name:
          type: string
          description: Endpoint name
          minLength: 1
          maxLength: 255
        imageUrl:
          type: string
          description: Container image URL
          minLength: 1
          maxLength: 500
        productId:
          type: string
          description: GPU product identifier
        gpuNum:
          type: integer
          description: Number of GPUs
          minimum: 1
          maximum: 8
        imageAuthId:
          type: string
          description: Image registry authentication ID
          nullable: true
        envs:
          type: array
          description: Environment variables
          maxItems: 100
          items:
            type: object
            required:
            - key
            - value
            properties:
              key:
                type: string
              value:
                type: string
        command:
          type: string
          description: Startup command
          nullable: true
    
    UpdateEndpointRequest:
      type: object
      properties:
        name:
          type: string
          description: New endpoint name
          nullable: true
        imageUrl:
          type: string
          description: New container image URL
          nullable: true
        envs:
          type: array
          description: Environment variables
          nullable: true
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
    
    # Job Schemas
    ListJobsResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Job'
          description: List of jobs
    
    Job:
      type: object
      required:
      - id
      - type
      - status
      properties:
        id:
          type: string
          description: Job identifier
        type:
          type: string
          description: Job type
        status:
          type: string
          description: Job status
        instanceId:
          type: string
          description: Associated instance ID
          nullable: true
        createdAt:
          type: string
          format: date-time
          description: Job creation time
          nullable: true
    
    SaveImageRequest:
      type: object
      required:
      - instanceId
      - imageName
      properties:
        instanceId:
          type: string
          description: Instance ID to save image from
        imageName:
          type: string
          description: Name for the saved image
          minLength: 1
          maxLength: 255
        description:
          type: string
          description: Image description
          nullable: true
    
    # Image Prewarm Schemas
    ListImagePrewarmTasksResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ImagePrewarmTask'
          description: List of image prewarm tasks
    
    ImagePrewarmTask:
      type: object
      required:
      - id
      - imageUrl
      - status
      properties:
        id:
          type: string
          description: Task identifier
        imageUrl:
          type: string
          description: Container image URL
        status:
          type: string
          description: Task status
        clusterId:
          type: string
          description: Target cluster ID
          nullable: true
        createdAt:
          type: string
          format: date-time
          description: Task creation time
          nullable: true
    
    CreateImagePrewarmRequest:
      type: object
      required:
      - imageUrl
      - clusterId
      properties:
        imageUrl:
          type: string
          description: Container image URL to prewarm
          minLength: 1
          maxLength: 500
        clusterId:
          type: string
          description: Target cluster ID
        imageAuthId:
          type: string
          description: Image registry authentication ID
          nullable: true
    
    UpdateImagePrewarmRequest:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: Prewarm task ID to update
        imageUrl:
          type: string
          description: New image URL
          nullable: true
    
    # Registry Auth Schemas
    ListRepositoryAuthsResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/RepositoryAuth'
          description: List of container registry authentications
    
    RepositoryAuth:
      type: object
      required:
      - id
      - registry
      properties:
        id:
          type: string
          description: Authentication identifier
        registry:
          type: string
          description: Registry URL
        username:
          type: string
          description: Registry username
          nullable: true
        createdAt:
          type: string
          format: date-time
          description: Creation time
          nullable: true
    
    CreateRepositoryAuthRequest:
      type: object
      required:
      - registry
      - username
      - password
      properties:
        registry:
          type: string
          description: Registry URL
          minLength: 1
          maxLength: 500
        username:
          type: string
          description: Registry username
          minLength: 1
        password:
          type: string
          description: Registry password
          minLength: 1
    
    DeleteRepositoryAuthRequest:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: Authentication ID to delete
    
    # Network Schemas
    ListNetworksResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Network'
          description: List of VPC networks
    
    Network:
      type: object
      required:
      - id
      - name
      - clusterId
      properties:
        id:
          type: string
          description: Network identifier
        name:
          type: string
          description: Network name
        clusterId:
          type: string
          description: Cluster ID
        cidr:
          type: string
          description: Network CIDR block
          nullable: true
        createdAt:
          type: string
          format: date-time
          description: Creation time
          nullable: true
    
    CreateNetworkRequest:
      type: object
      required:
      - name
      - clusterId
      properties:
        name:
          type: string
          description: Network name
          minLength: 1
          maxLength: 255
        clusterId:
          type: string
          description: Target cluster ID
    
    UpdateNetworkRequest:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: Network ID to update
        name:
          type: string
          description: New network name
          nullable: true
    
    DeleteNetworkRequest:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: Network ID to delete
    
    # Network Storage Schemas
    ListNetworkStoragesResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/NetworkStorage'
          description: List of network storage volumes
    
    NetworkStorage:
      type: object
      required:
      - id
      - name
      - size
      - clusterId
      properties:
        id:
          type: string
          description: Storage identifier
        name:
          type: string
          description: Storage volume name
        size:
          type: integer
          description: Storage size in GB
        clusterId:
          type: string
          description: Cluster ID
        status:
          type: string
          description: Storage status
          nullable: true
        createdAt:
          type: string
          format: date-time
          description: Creation time
          nullable: true
    
    CreateNetworkStorageRequest:
      type: object
      required:
      - name
      - size
      - clusterId
      properties:
        name:
          type: string
          description: Storage volume name
          minLength: 1
          maxLength: 255
        size:
          type: integer
          description: Storage size in GB
          minimum: 10
          maximum: 10240
        clusterId:
          type: string
          description: Target cluster ID
    
    UpdateNetworkStorageRequest:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: Storage ID to update
        name:
          type: string
          description: New storage name
          nullable: true
        size:
          type: integer
          description: New storage size in GB
          nullable: true
    
    DeleteNetworkStorageRequest:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: Storage ID to delete
    
    # Template Schemas
    ListTemplatesResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Template'
          description: List of templates
    
    Template:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: string
          description: Template identifier
        name:
          type: string
          description: Template name
        imageUrl:
          type: string
          description: Container image URL
          nullable: true
        description:
          type: string
          description: Template description
          nullable: true
        createdAt:
          type: string
          format: date-time
          description: Creation time
          nullable: true
    
    CreateTemplateRequest:
      type: object
      required:
      - name
      - instanceId
      properties:
        name:
          type: string
          description: Template name
          minLength: 1
          maxLength: 255
        instanceId:
          type: string
          description: Source instance ID
        description:
          type: string
          description: Template description
          nullable: true
    
    DeleteTemplateRequest:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: Template ID to delete
  
  responses:
    UnauthorizedError:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequestError:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
